In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("/content/card_transdata.csv")

In [3]:
df.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [4]:
df.tail()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
109965,4.799067,0.231887,3.680506,1.0,0.0,0.0,1.0,0.0
109966,4.319876,0.919813,0.748854,1.0,0.0,1.0,1.0,0.0
109967,32.897780,1.916609,3.168450,1.0,0.0,1.0,1.0,0.0
109968,17.228012,0.096034,0.245483,1.0,0.0,0.0,1.0,0.0
109969,32.028963,0.320323,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dtypes

distance_from_home                float64
distance_from_last_transaction    float64
ratio_to_median_purchase_price    float64
repeat_retailer                   float64
used_chip                         float64
used_pin_number                   float64
online_order                      float64
fraud                             float64
dtype: object

In [6]:
df.describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
count,109970.000000,109970.000000,109969.000000,109969.000000,109969.000000,109969.000000,109969.000000,109969.000000
mean,26.667911,5.010351,1.819018,0.882249,0.350781,0.103184,0.650902,0.086861
std,64.711023,24.168089,2.891551,0.322315,0.477217,0.304200,0.476687,0.281632
min,0.021322,0.000488,0.011373,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.865047,0.294956,0.476595,1.000000,0.000000,0.000000,0.000000,0.000000
50%,9.975476,0.994555,0.995895,1.000000,0.000000,0.000000,1.000000,0.000000
75%,25.740890,3.336180,2.091950,1.000000,1.000000,0.000000,1.000000,0.000000
max,4601.011222,2160.499922,266.689692,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df.shape

(109970, 8)

In [8]:
df.isnull().sum()

distance_from_home                0
distance_from_last_transaction    0
ratio_to_median_purchase_price    1
repeat_retailer                   1
used_chip                         1
used_pin_number                   1
online_order                      1
fraud                             1
dtype: int64

In [9]:
for col in df.columns:
  df.fillna(df[col].mean(),inplace=True)

In [12]:
df.isnull().sum()

distance_from_home                0
distance_from_last_transaction    0
ratio_to_median_purchase_price    0
repeat_retailer                   0
used_chip                         0
used_pin_number                   0
online_order                      0
fraud                             0
dtype: int64

In [13]:
x=df.drop('fraud',axis=1)
y=df.fraud

In [14]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler  
st_x= StandardScaler()  
x_train= st_x.fit_transform(x_train)  
x_test= st_x.transform(x_test)